* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
    background: url("..../images/background.jpg");
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -45%;
    bottom: 5rem;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transform: rotate(-40deg);
    background: white;
}

body::after {
    content: "";
    position: absolute;
    top: -34rem;
    left: -35rem;
    width: 80rem;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    transform: rotate(-40deg);
    background: #666666;
}

.container {
    z-index: 100;
    display: flex;
}

.header {
    width: 55%;
}

.header img {
    position: absolute;
    left: 0;
    top: -15%;
    opacity: 0.7;
}

.header h1 {
    position: absolute;
    top: 30%;
    left: 0;
    font-family: 'Sacramento', cursive;
    transform: rotate(-40deg);
    font-size: 8rem;
    color: #f5af19;
    font-weight: 400;
    text-shadow:
            0 -1px 0 #fff,
            0 1px 0 #2e2e2e,
            0 2px 0 #2c2c2c,
            0 3px 0 #2a2a2a,
            0 4px 0 #282828,
            0 5px 0 #262626,
            0 6px 0 #242424,
            0 7px 0 #222,
            0 8px 0 #202020,
            0 9px 0 #1e1e1e,
            0 10px 0 #1c1c1c,
            0 11px 0 #1a1a1a,
            0 12px 0 #181818,
            0 13px 0 #161616,
            0 14px 0 #141414,
            0 15px 0 #121212,
            0 22px 30px rgba(0, 0, 0, 0.9);
}

.panel {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.panel::before {
    content: "";
    position: absolute;
    width: 45%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background: #FFF;
    top: 0;
    right: 0;
}

.panel::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    opacity: 0.1;
    z-index: -1;
    background: #FFF;
}

.main-panel {
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 90%;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
    color: white;
    font-weight: 300;
    text-shadow:
            0 -1px 0 #fff,
            0 1px 0 #2e2e2e,
            0 2px 0 #2c2c2c,
            0 3px 0 #2a2a2a,
            0 4px 0 #282828,
            0 5px 0 #262626,
            0 6px 0 #242424,
            0 7px 0 #222,
            0 8px 0 #202020,
            0 9px 0 #1e1e1e,
            0 10px 0 #1c1c1c,
            0 11px 0 #1a1a1a,
            0 12px 0 #181818,
            0 13px 0 #161616,
            0 14px 0 #141414,
            0 15px 0 #121212,
            0 22px 30px rgba(0, 0, 0, 0.9);
}

.size {
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.size .radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 2.5rem;
    width: 25rem;
    background: linear-gradient(to left, #ffefba, #ffffff);
    border-radius: 2rem;
    transition: all 500ms;
    border: 0.3rem inset #000;
}

.size .single {
    display: flex;
    margin: 1rem 0 1rem 1rem;
}

.size label {
    margin: 3rem 0;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    z-index: 3;
    color: #FFF;
    text-shadow: -2px 2px 0 #000;
    transform: rotate(-30deg);
}

.size .choose {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 4;
    transform-origin: right center;
    animation: spin 2s linear infinite;
    transition: all 2s;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.size img {
    position: absolute;
    top: -2rem;
    left: -1rem;
    width: 5rem;
    transition: all 1s;
}

.size input {
    visibility: hidden;
}

.pizza-size {
    position: relative;
}

.btn-next {
    position: absolute;
    bottom: 3rem;
    right: 0;
}

.btn-prev {
    position: absolute;
    bottom: 3rem;
    left: 0;
}

.btn-next button, .btn-prev button {
    width: 10rem;
    height: 4rem;
    background: transparent;
    cursor: pointer;
    transition: ease 0.5s;
    outline: none;
    border: none;
    position: relative;
    color: #ffffff;
    text-shadow: -2px 2px 0 #000;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
}

.btn-next button::after, .btn-prev button::after  {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    right: 5rem;
    bottom: 0.5rem;
}

.btn-next button:hover, .btn-next button:active {
    background: url("../images/buttonNext.png") no-repeat;
    background-size: 5rem 100%;
    background-position-x: 3rem;
    opacity: 0;
}

.btn-prev button:hover, .btn-prev button:active {
    background: url("../images/buttonPrev.png") no-repeat;
    background-size: 5rem 100%;
    background-position-x: 3rem;
    opacity: 0;
}

.btn-next button:hover, .btn-next button:active {
    animation: fadeIn 3s infinite, moveForward 3s;
}

.btn-prev button:hover, .btn-prev button:active {
    animation: fadeIn 3s infinite, moveBack 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveForward {
    0% {
        background-position-x: -5rem;
    }
    100% {
        background-position-x: 12rem;
    }
}

@keyframes moveBack {
    0% {
        background-position-x: 12rem;
    }
    100% {
        background-position-x: -5rem;
    }
}

.pizza-crust {
    display: none;
    position: relative;
}

.pizza-crust .single {
    margin: 1rem 0;
}

.crust-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.crust-radio label {
    cursor: pointer;
    font-size:  3rem;
    filter: grayscale(100%);
    transition: 0.8s;
}

.crust-radio input {
    visibility: hidden;
}

label[for=thin] {
    font-weight: 200;
    color: mediumseagreen;
}

label[for=thick] {
    font-weight: 700;
    color: #b34648;
}

label[for=cheeseFilled] {
    color: #ffd147;
    font-weight: 700;
    z-index: 1;
    background: url(https://cdn5.f-cdn.com/contestentries/1532532/23450105/5d210a4d2e962_thumb900.jpg) center center;
    background-size: 2rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.pizza-type {
    display: none;
    position: relative;
}

.type-radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.type-radio .single {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.type-radio img {
    width: 11rem;
}

.type-radio input {
    visibility: hidden;
}

.type-radio label {
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -2px 2px 0 #000;
}

.type-radio .hover::after, .type-radio .chosen::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000;
    opacity: 0.6;
    z-index: 10;
    left: 0;
    bottom: 0;
    cursor: pointer;
    animation: opacity 0.5s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

.type-radio label h3 {
    display: none;
}

.type-radio label  ul {
    display: none;
}

.type-radio label.hover h3, .type-radio label.chosen h3  {
    display: block;
    visibility: visible;
    position: absolute;
    font-size: 0.9rem;
    left: 3rem;
    bottom: 7rem;
    color: white;
    z-index: 20;
    cursor: pointer;
    animation: opacity 0.5s;
}

.type-radio label.hover ul, .type-radio label.chosen ul {
    display: block;
    visibility: visible;
    position: absolute;
    font-size: 0.8rem;
    bottom: 2.5rem;
    color: white;
    list-style-type: none;
    width: 9rem;
    text-align: center;
    left: 1rem;
    z-index: 20;
    cursor: pointer;
    animation: opacity 0.5s;
}

.pizza-ingredients {
    display: none;
    position: relative;
}

.ingredients-checkbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.ingredients-checkbox .single {
    margin: 2rem 1rem;
    width: 9rem;
}

.ingredients-checkbox label {
    cursor: pointer;
}

.ingredients-checkbox input {
    display: none;
}

.ingredients-checkbox input + label {
    display: block;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: #FFF;
}

.ingredients-checkbox input + label:last-child {
    margin-bottom: 0;
}

.ingredients-checkbox input + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #f5af19;
    opacity: 0.6;
    transition: all 0.2s, border-color 0.1s;
}

.ingredients-checkbox input:checked + label:before {
    width: 0.6rem;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    opacity: 1;
    transform: rotate(45deg);
}

.ingredients-price {
    width: 20%;
    font-size: 0.8rem;
    padding: 0 0.5rem;
}

.pizza-confirm {
    display: none;
    position: relative;
}

.confirm-form {
    width: 109%;
    height: 50%;
    padding: 1rem;
    overflow-y: auto;
}

.confirm .single {
    display: flex;
    color: #FFF;
    background: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    border-radius: 2rem;
    z-index: 1;
    width: 95%;
    text-shadow: 1px 1px 0 #000;
    margin: 1rem;
}

.confirm .single img {
    width: 30%;
    height:  30%;
    z-index: 20;
    padding: 1rem;
}

.confirm .single h3 {
    z-index: 20;
    margin: 1rem 0 0 1rem;
    font-size: 2.5rem;
    font-family: 'Sacramento', cursive;
    font-weight: 300;
}

.confirm .single h3::first-letter {
    text-transform: uppercase;
}

.confirm .ingredients {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 1rem;
}

.confirm .single p {
    z-index: 20;
    font-size: 0.8rem;
    flex-wrap: wrap;
    width: 80%;
}

.confirm .line {
    width: 86%;
    background: white;
    height: 1%;
    border-bottom: 0.1rem solid white;
    z-index: 20;
    margin: 0.5rem 1rem;
}

.confirm .pizza-size-confirmation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 1rem;
}

.confirm .size-price {
    font-size: 0.8rem;
    padding: 0 0.5rem;
    width: 20%;
}

.confirm .single .size-confirmation {
    z-index: 20;
    font-size: 0.8rem;
    width: 80%;
}

.confirm .single .crust-confirmation {
    z-index: 20;
    font-size: 0.8rem;
    margin: 0 0 1rem 1rem;
}

.crust-confirmation:first-letter, .size-confirmation:first-letter, .confirm .single p:first-letter {
    text-transform: uppercase;
}

.summary {
    width: 80%;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.summary .total-price {
    font-weight: 700;
}

.confirm .quantity {
}

.confirm .quantity i {
    margin: 0 0.5rem;
    transition: 2s;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.confirm .description {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.error {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: #ff695f26;
    width: 20rem;
    height: 4rem;
    top: 1rem;
    border-radius: 2rem;
    border: 0.1rem solid #ff695f63;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}

.window-popup {
    display: none;
    position: absolute;
    width: 20rem;
    background: #ffffff57;
    z-index: 100;
    bottom: 20%;
    right: -20rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 0.8rem;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.window-popup .btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.window-popup .btns button:first-of-type {
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none;
    width: 4rem;
    padding: 0.5rem;
    background: #5cb26f;
    cursor: pointer;
    color: white;
}

.window-popup .btns button:last-of-type {
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: none;
    width: 4rem;
    padding: 0.5rem;
    background: #d17a89;
    cursor: pointer;
    color: white;
}

.window-popup .btns button:hover {
    opacity: 0.5;
    transition: 1s;
}

.cart-panel {
    display: none;
    position: relative;
}

.pizza-cart {
    width: 40rem;
    height: 60%;
    overflow: auto;
}

.pizza-cart li {
    height: 6.5rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 2rem;
    border: 0.1rem solid #FFF;
    margin: 1rem 0;
    color: #FFF;
}

.cart-panel .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.cart-panel .total-price h4 {
    position: relative;
    bottom: 5rem;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    font-size: 1.5rem;
}

.pizza-cart h3 {
    width: 50%;
    z-index: 20;
    font-size: 2.5rem;
    font-family: 'Sacramento', cursive;
    font-weight: 300;
}

.pizza-cart p, .pizza-cart span {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.pizza-cart .pizza-details {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.pizza-cart .delete {
    height: 6.5rem;
    width: 2rem;
    position: relative;
    right: -1.9rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    background: #d17a89;
    border: none;
    cursor: pointer;
    color: #FFF;
    transition: .5s;
}

.pizza-cart .delete span {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.pizza-cart .delete:hover {
    opacity: 0.5;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn .cancel-btn, .btn .confirm-btn {
    border: none;
    background: transparent;
    color: #ffffff;
    text-shadow: -2px 2px 0 #000;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    cursor: pointer;
}

.confirmation {
    display: none;
    position: relative;
}

.confirmation p {
    color: #FFF;
}

.pizza-timer .timer, .placed-on span, .order-number .number {
    font-size: 2rem;
    color: #FFF;
    text-shadow: 5px 5px 5px black;
}

.pizza-timer, .placed-on, .order-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.confirmation .cancel-btn {
    margin-top: 5rem;
    border: none;
    background: transparent;
    color: #ffffff;
    text-shadow: -2px 2px 0 #000;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    cursor: pointer;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 768px) {

    html {
        font-size: 6px;
    }

    body::before {
        top: -80%;
        left: -73%;
    }

    body::after {
        top: -73%;
        left: -71%;
    }

    .header img {
        width: 35%;
        top: -5%;
    }

    .header h1 {
        top: 12%;
        left: 0;
        font-size: 6rem;
    }

    h2 {
        font-size: 3rem;
    }

    .main-panel {
        height: 70vh;
    }

    .panel {
        width: 60%;
        height: 100vh;
    }

    .panel::before {
        width: 60%;
    }

    .size {
        padding: 0;
        margin-top: 15rem;
    }

    .size .radio {
        transform: rotate(-90deg);
    }

    .error {
        top: auto;
        bottom: 20rem;
    }

    .type img {
        width: 7rem;
    }

    .type-radio label.hover h3, .type-radio label.chosen h3 {
        left: 1rem;
        bottom: 6rem;
        text-align: center;
    }

    .type-radio label.hover ul, .type-radio label.chosen ul {
        left: -1rem;
        bottom: 1rem;
    }

    .window-popup {
        bottom: 25%;
    }

    .window-popup .btns button {
        height: 2rem;
        font-size: 1rem;
    }

    .pizza-cart {
        width: 100%;
    }

    .pizza-cart h3 {
        font-size: 1.5rem;
    }

}